@{
    ViewData["Title"] = "404";
}
<div class="col-xl-10 col-sm-12 mx-auto ">
    <h1 class="text-center mb-4">404</h1>
    <h3 class="text-center mb-4">Sayfa bulunamadı</h3>
    <p class="text-center ">Lütfen gitmek istediğiniz sayfadan emin olunuz. Eğer eminseniz site yöneticisi ile iletişime geçiniz.</p>
</div>