@{
    ViewData["Title"] = "500";
}
<div class="col-xl-10 col-sm-12 mx-auto ">
    <h1 class="text-center mb-4">500</h1>
    <h3 class="text-center mb-4">Birşeyler ters gitti</h3>
    <p class="text-center ">Lütfen daha sonra tekrar deneyiniz</p>
</div>