
@model ImageApp.Bussiness.Dto.UserTokenDto

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NewsApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        İçerik
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Image" asp-action="Index">İçerik Liste</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Image" asp-action="AddImage">İçerik Ekle</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCategoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategori
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCategoryDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index">Ketegori Liste</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="AddCategory">Kategori Ekle</a>
                    </div>
                </li>
            </ul>
            <form class="float-right" action="/Login/Logout" method="post">
                <input hidden type="text" name="id" value="@Model.Id" />
                <button class="btn nav-link" type="submit">Çıkış Yap</button>
            </form>
        </div>
    </div>

</nav>